body {
    text-align: center;
    font-family: 'Palatino Linotype';
    font-size: 24px;
    line-height: 1.4;
    background: 'red';
    position: relative;
    padding-top: 1em;
}

.typescript, a, a:visited {
    color: #294E80;
}

h1 {
    margin-bottom: 1.4em;
}

.footer {
    font-size: 80%;
    position: fixed;
    bottom: 12px;
    left: 0px;
    right: 0px;
    text-align: center;
}

#demo {
    width: 20em;
}