body {
    margin: 0;
    text-align: center;
    font-family: wf_segoe-ui_normal, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    line-height: 1.4;
    position: relative;
    padding-top: 1em;
}

h1.headline {
    font-weight: 100;
    margin-bottom: 1.4em;
    color: #294E80;
}

span.bold {
    font-weight: 700;
}

#demo {
    width: 20em;
}

div.suggestion {
    border: solid 1px gray;
    border-radius: 8px;
    cursor: pointer;
    background-color: #FFFFFF;
}

.tt-hint, .tt-input, .tt-menu { 
    width: 100%; 
}

span.type-package-name {
    font-family: monospace;
    text-align: left;
    left: 5%;
    right: 35%;
}

span.type-package-name, span.library-name {
    display: block;
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    clip: all;
}

span.library-name {
    display: block;
    left: 60%;
    right: 2%;
    text-align: right;
}

.tt-dropdown-menu, .gist {
    text-align: left;
}

.typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 8px;
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    position: relative;
}
.typeahead {
    background-color: #FFFFFF;
}
.typeahead:focus {
    border: 2px solid #294E80;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999999;
}
.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
}
.tt-suggestion {
    font-size: 18px;
    line-height: 24px;
    padding: 3px 20px;
    height: 24px;
}
.tt-suggestion.tt-cursor {
    background-color: #294E80;
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
}

.footer {
    font-size: 80%;
    position: fixed;
    bottom: 12px;
    left: 0px;
    right: 0px;
    text-align: center;
}

.footer a, .footer a:visited {
    color: #294E80;
}